# Core GUI Framework
PyQt5==5.15.10

# Data Processing
pandas>=2.2.2
openpyxl>=3.1.5
odfpy==1.4.1

# Image Processing
Pillow==10.3.0

# Metadata Management
PyExifTool==0.5.6

# Cloud Services
cloudinary==1.40.0
requests==2.31.0

# Build Tools
pyinstaller==6.5.0

# Utilities
python-dateutil==2.9.0
